<div class="container">
    <div *ngIf="success">
        <div class="success-msg">
          <i class="fa fa-check"></i>
          You have successfully created the projection!
        </div>
      </div>
  <div class="row">
    <div class="col-sm">
      <h3>Movies</h3>
      <div aria-labelledby="dropdownBasic1" *ngFor="let movie of movies">
        <button (click)="selectMovie(movie.title)" class="dropdown-item">{{movie.title}}</button>
      </div>
    </div>
    <div class="col-sm">
      <h3>Theater</h3>
      <div aria-labelledby="dropdownBasic1" *ngFor="let theater of theaters">
        <button (click)="selectTheater(theater.name)" class="dropdown-item">{{theater.name}}</button>
      </div>
    </div>
    <div class="col-sm">
      <h3>New Projection</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="cmovie">Movie:</label>
          <input disabled class="form-control" name="cmovie" style="background-color: white"
            value="{{projection.movieTitle}}" />
        </div>
        <label for="theater">Theater:</label>
        <input disabled class="form-control" name="theater" style="background-color: white"
          value="{{projection.theatreName}}" />
        <div class="form-group">
          <label for="dp">Date:</label>
          <p><input class="w3-input w3-padding-16 w3-border" [(ngModel)]="projection.time" type="datetime-local"
              placeholder="Date and time" required name="date" value="2018-03-25T20:00"></p>
        </div>
        <button *ngIf="!success" type="submit" class="btn btn-primary">Submit</button>
        <button *ngIf="success" class="btn btn-success">Successful</button>
      </form>
    </div>
  </div>
</div>