/*.transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#switch {
  width: 100%;
  font-size: 0;
  background-color: ##375a7f;
  display: inline-block;
  color: #303030;
  padding: 2px;
  vertical-align: middle;
}
#switch .choice {
  font-size: 16px;
  width: 50%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
}
#switch .choice.on {
  color: #fff;
  background-color: #222d3b;
}
#switch .or {
  font-size: 10px;
  color: #fff;
  position: absolute;
  margin-top: 102px;
  margin-left: 58%;
  z-index: 1;
}
#switch .diamond {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 102px;
  margin-left: 66%;
  background: ##375a7f;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
*/